/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: black;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Navigation container */
.nav {
  display: flex;
  align-items: center;
}

/* Navigation links */
.nav-link {
  font-size: 16px;
  color: white;
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  background: none; /* Removes background color */
  border: none; /* Removes border */
}



/* Icon styling */
.icon {
  margin-right: 8px;
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  min-width: 150px;
}

.nav-link.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #1abc9c;
  color: white;
}
