/* General Container */
.homepage-container {
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Main Content Section */
.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 120px;
  max-width: 1200px;
  width: 100%;
  margin-top: 20px;
}

.text-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 30px;
  text-align: left;
}

.slogan {
  font-family: var(--special-font);
  font-size: 2.5rem;
  color: var(--secondary-text);
  margin-top: 30px;
  text-align: center;
}

/* Features Boxes */
.features-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 30px;
}

.ho:hover {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

/* Sign Up Button */
.sign-up-btn-container {
  margin-top: 50px;
  text-align: center;
}

/* Time Container */
.time-container {
  flex: 1;
  text-align: center;
}

.time-container h2 {
  font-family: var(--number-font);
  color: var(--highlight);
  font-size: 6rem; 
  margin-top: 20px;
}
