# Django
backend/**/*.pyc
backend/**/__pycache__/
backend/myproject/.env
backend/myproject/db.sqlite3
backend/myproject/*/migrations/*.py
backend/myproject/*/migrations/*.pyc
backend/myproject/media/
backend/myproject/staticfiles/
backend/myproject/settings_local.py
backend/myproject/myproject/settings.py
backend/myproject/myproject/__pycache__/settings.cpython-312.pyc

# React.js
frontend/my-app/node_modules/
frontend/my-app/build/
frontend/my-app/npm-debug.log*
frontend/my-app/yarn-debug.log*
frontend/my-app/yarn-error.log*
frontend/my-app/.env.local
frontend/my-app/.env.development.local
frontend/my-app/.env.test.local
frontend/my-app/.env.production.local

# General
/node_modules
*.log
*.bak
*.swp
*.tmp
*.pid
*.seed
*.pid.lock
.DS_Store
Thumbs.db
*.~lock.*
.vscode/
.idea/
*.iml
coverage/
*.coverage
*.lcov
coverage-final.json
__pycache__/
*.pyc

# Python virtual environments
venv/
env/