.button {
    padding: 15px 30px;
    background-color: var(--highlight); 
    color: var(--primary-bg);
    font-size: 1rem;
    font-family: var(--special-font);
    font-weight: bold;
    text-decoration: none;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.1s ease;
    cursor: pointer;
}
  
.button:hover {
  background-color: var(--primary-bg);
  color: var(--highlight);
  border: 1px solid var(--neutral);
  text-decoration: none;
}