/* Header container */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background: transparent;
  color: var(--primary-text);
  font-family: var(--text-font);
  font-weight: bold;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* Logo styling */
.logo {
  font-size: 24px;
  font-weight: bold;
  font-family: var(--special-font);
}

/* Navigation container */
.nav {
  display: flex;
  align-items: center;
}

/* Navigation links */
.nav-link {
  font-size: 16px;
  color: var(--primary-text);
  text-decoration: none;
  margin: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 0.3s ease;
  background: none; 
  border: none; 
}

.nav-link:hover {
  color: var(--secondary-text); 
}

.divider {
  margin: 0 5px;
  border: 0;
  border-left: 1px solid var(--light);
  height: 20px;
}


/* Icon styling */
.icon {
  margin-right: 8px;
}

/* Dropdown menu styling */
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  display: none;
  flex-direction: column;
  min-width: 150px;
}

.nav-link.dropdown:hover .dropdown-menu {
  display: flex;
}

.dropdown-item {
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  background-color: #1abc9c;
  color: white;
}
