.card {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.taskList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.inputWrapper {
  display: flex;
  gap: 10px;
}

.input {
  flex-grow: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.btn {
  background-color: var(--highlight);
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: none;
  border-radius: 4px;
  padding: 8px 12px;
  cursor: pointer;
  font-size: 16px;
}
.btn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.taskItem {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
  position: relative;
}

.checkbox,
.deleteBtn {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.taskItem:hover .checkbox,
.taskItem:hover .deleteBtn {
  visibility: visible;
  opacity: 1;
}

.taskText {
  flex-grow: 1;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}

.taskText.completed {
  text-decoration: line-through;
  color: gray;
}

.checkbox {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: none;
}

.checkboxIcon {
  width: 24px;
  height: 24px;
  transition: fill 0.3s ease;
}

.checkboxCircle {
  fill: white;
  stroke: grey;
  stroke-width: 2;
  transition: fill 0.3s ease, stroke 0.3s ease;
}

.checkbox:hover .checkboxCircle {
  fill: lightgrey;
}

.checked .checkboxCircle {
  fill: rgb(103, 197, 103);
  stroke: rgb(93, 172, 93);
}

.path {
  fill: grey;
  transition: fill 0.3s ease;
}


.checkbox.checked .checkboxIcon {
  fill: rgb(103, 197, 103);
}


.deleteBtn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.trashIcon {
  fill: grey; 
  transition: fill 0.3s ease;
}

.deleteBtn:hover .trashIcon {
  fill: lightgrey; 
}



