@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Quicksand:wght@300;400&family=Caveat:wght@400&display=swap');

@font-face {
  font-family: 'Island Moments';
  src: url('./fonts/DancingScript-Regular.ttf') format('truetype');
}

:root {
  /* Colors */
  --primary-bg: #FAF7F2; 
  --secondary-bg: #FBDBD4; /* Soft pink */
  --primary-text: #101011; /* Dark gray/black */
  --secondary-text: #C4A49F; /* Soft brown */
  --highlight: #101010; /* Dark gray/black */
  --error-bg: #F5EDED; /* Light red/pink */
  --neutral: #C7B8B4; /* Neutral tan */
  --light: #FAF7F2; /* White/off-white */
  --analysis: #5C9967; /* Green accent */

  /* Fonts */
  --title-font: 'Island Moments', cursive; /* For titles */
  --text-font: 'Quicksand', sans-serif;   /* For body text */
  --number-font: 'Roboto Mono', monospace; /* For numbers */
  --special-font: 'Dancing Script', cursive; /* Decorative font */
}

/* General Reset */
body {
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  background-color: var(--primary-bg);
  color: var(--primary-text);
}


