:root {
  --primary-bg: #F5EDED;
  --light: #FFFFFF;
  --highlight: #C4A49F; /* Soft beige tone */
  --neutral: #DADFE9;
  --secondary-text: #C4A49F;
  --dark-grey: #101010;
  --input-border: #C7B8B4;
  --title-font: 'Island Moments', sans-serif;
  --button-hover-color: #C7B8B4;
  --title-font-family: 'Pacifico', cursive;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--primary-bg);
}

.form-container {
  background-color: var(--neutral); 
  padding: 10px 40px 40px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 20px;
}

.signup-title {
  font-family: var(--title-font-family);
  font-size: 3rem;
  color: var(--secondary-text);
  text-align: center;
  margin-bottom: 25px;
  letter-spacing: 2px;
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 92%;
  padding: 12px ;
  font-size: 1.1rem;
  border: 1px solid var(--input-border);
  border-radius: 5px;
  margin-bottom: 15px;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--highlight);
  outline: none;
}

button {
  width: 100%;
  padding: 15px;
  font-size: 1.2rem;
  background-color: var(--highlight);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: var(--button-hover-color);
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: var(--highlight);
  text-decoration: none;
  transition: color 0.3s;
}

.login-link a:hover {
  color: var(--button-hover-color);
}
